#root {
  min-height: 100vh;
  background-image: url('https://img.freepik.com/free-vector/abstract-black-luxury-background-with-abstracts_361591-4172.jpg?semt=ais_hybrid&w=740&q=100');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
